<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>defult {{title}}</title>
    <link rel="stylesheet" href="static/style.css">
    <script>
    function Alerting () {
        alert('hello ahmad ')
    }
    </script>
</head>

<body>
    <div id="parallax-world-of-ugg">

        <section>
            <div class="title">
                <h3>Let's do some</h3>
                <h1>Hello {{ name}}</h1>
                <button onclick="Alerting()" class="min_bttn">Alert </button>

            </div>
        </section>

        <section>
            <div class="parallax-one">
                <h2>Hello Mr. {{ name}}</h2>
            </div>
        </section>

        

    

        <section>
            <div class="parallax-three">
                <h2>ENCHANTED FOREST</h2>
            </div>
        </section>

        <!-- <section>
            <div class="block">
                <p><span class="first-character atw">W</span>hen the New York fashion community notices your brand, the
                    world soon follows. The widespread love for UGG extended to Europe in the mid-2000's along with the
                    stylish casual movement and demand for premium casual fashion. UGG boots and shoes were now seen
                    walking the streets of London, Paris and Amsterdam with regularity. To meet the rising demand from
                    new fans, UGG opened flagship stores in the UK and an additional location in Moscow. As the love
                    spread farther East, concept stores were opened in Beijing, Shanghai and Tokyo. UGG Australia is now
                    an international brand that is loved by all. This love is a result of a magical combination of the
                    amazing functional benefits of sheepskin and the heightened emotional feeling you get when you slip
                    them on your feet. In short, you just feel better all over when you wear UGG boots, slippers, and
                    shoes.</p>
                <p class="line-break margin-top-10"></p>
                <p class="margin-top-10">In 2011, UGG will go back to its roots and focus on bringing the active men
                    that brought the brand to life back with new styles allowing them to love the brand again as well.
                    Partnering with Super Bowl champion and NFL MVP Tom Brady, UGG will invite even more men to feel the
                    love the rest of the world knows so well. UGG will also step into the world of high fashion with UGG
                    Collection. The UGG Collection fuses the timeless craft of Italian shoemaking with the reliable
                    magic of sheepskin, bringing the luxurious feel of UGG to high end fashion. As the love for UGG
                    continues to spread across the world, we have continued to offer new and unexpected ways to
                    experience the brand. The UGG journey continues on and the love for UGG continues to spread.</p>
            </div>
        </section> -->

    </div>
</body>

</html>